.container{
    background-color: aquamarine;
}
#aboutus{
    background-image: url(./background.jpeg);
    background-size: cover;
}
#pizzainfo{
   color: blue;
}
h1{
    text-align: center;
    color: blue;
}